@font-face {
    src: url(../fonts/Rubik-Light.ttf);
    font-family: Rubik;
}

html, body {
    margin: 0px;
    padding: 0px;
    line-height: 0px;
    background: #1c1b22;
}

/* .backdrop {
    background: url(../images/example_one.jpg);
} */

/* PROOF - Backdrop not working. */

.not-a-orange {
    margin: 0px;
    padding-top: 3rem;
    max-width: 6.45rem;
    text-align: center;
    padding-left: 2.15rem;
}

.maybe-a-orange {
    font-size: 25px;
}

.is-definitely-a-orange {
    color: white;
    display: block;
    font-size: 28px;
    font-family: Rubik;
    padding-top: 0.35rem;
}